Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use  MongoDB over SQL databases?

MongoDB is an open source NoSQL database management program.            
A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.
MongoDB is usefull when we do not have data in a structured manner.

Q2. State and Explain the features of MongoDB.          
   =>Support ad hoc queries.          
      i.e. MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL).

   => indexing approximately for better query executions.
      i.e. MongoDB indices can be created on demand to accommodate real-time, ever-changing query patterns and application requirements. They can also be declared on any field within any of your documents, including those nested within arrays
      
   => Replication for better data availability and stability.        
      i.e When your data only resides in a single database, it is exposed to multiple potential points of failure, such as a server crash, service interruptions, or even good old hardware failure. Any of these events would make accessing your data nearly impossible.

Replication allows you to sidestep these vulnerabilities by deploying multiple servers for disaster recovery and backup. Horizontal scaling across multiple servers that house the same data (or shards of that same data) means greatly increased data availability and stability. Naturally, replication also helps with load balancing. When multiple users access the same data, the load can be distributed evenly across servers

=> Sharding.       
   i.e. When dealing with particularly large datasets, sharding—the process of splitting larger datasets across multiple distributed collections, or “shards”—helps the database distribute and better execute what might otherwise be problematic and cumbersome queries. Without sharding, scaling a growing web application with millions of daily users is nearly impossible.
   
=> Load Balancing.
  i.e. At the end of the day, optimal load balancing remains one of the holy grails of large-scale database management for growing enterprise applications. Properly distributing millions of client requests to hundreds or thousands of servers can lead to a noticeable (and much appreciated) difference in performance.

Fortunately, via horizontal scaling features like replication and sharding, MongoDB supports large-scale load balancing. The platform can handle multiple concurrent read and write requests for the same data with best-in-class concurrency control and locking protocols that ensure data consistency. There’s no need to add an external load balancer—MongoDB ensures that each and every user has a consistent view and quality experience with the data they need to access

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 6.7 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 36.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Manasabrao:Pwskills@cluster0.ajds1qd.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
client = pymongo.MongoClient("mongodb+srv://Manasabrao:Pwskills@cluster0.ajds1qd.mongodb.net/?retryWrites=true&w=majority")

In [5]:
db = client['assignment']

In [6]:
coll_assignment = db['my record']

Q4. Using the database and the collection created in question number 3, write a code to insert one record,  and insert many records. Use the find() and find_one() methods to print the inserted record.

In [7]:
data = {"name" : "sudh",
        "class" : "data science masters",
        "time" : "flexi" }

In [9]:
coll_assignment.insert_one(data)

In [10]:
data2 = [
    {"name" : "Amy","address":"Apple st 652"},
    {"name" : "Arun","address":"Apple st 682"},
    {"name" : "Arguy","address":"Mountain st 652"},
]

In [12]:
coll_assignment.insert_many(data2)

In [13]:
coll_assignment.find_one()

{'_id': ObjectId('63f0cd3d2d08f9ba5eafdacb'),
 'name': 'sudh',
 'class': 'data science masters',
 'time': 'flexi'}

In [14]:
for i in coll_assignment.find():
    print(i)

{'_id': ObjectId('63f0cd3d2d08f9ba5eafdacb'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdacc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdacd'), 'name': 'Arun', 'address': 'Apple st 682'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdace'), 'name': 'Arguy', 'address': 'Mountain st 652'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to  demonstrate this.

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one. If we want to return pointer on all documents then use empty() parameter that returns all documents one by one. It takes only some optional parameters. The first optional parameter is the selection criteria on which we want to return a cursor. To return all documents in a collection use empty document({}).

In [15]:
for i in coll_assignment.find():
    print(i)

{'_id': ObjectId('63f0cd3d2d08f9ba5eafdacb'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdacc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdacd'), 'name': 'Arun', 'address': 'Apple st 682'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdace'), 'name': 'Arguy', 'address': 'Mountain st 652'}

In [16]:
for i in coll_assignment.find({'name' : 'sudh'}):
    print(i)

{'_id': ObjectId('63f0cd3d2d08f9ba5eafdacb'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}

Q6. Explain the sort() method.Give an example to demonstrate sorting in MongoDB.

In MongoDB, sorting is done by the sort() method. The sort() method consists of two basic building blocks. These building blocks are fields to be sorted and the sort order.

In [19]:
data3 = [{'name' : "student 1","marks":78},
        {'name' : "student 2","marks":57},
        {'name' : "student 3","marks":90},
        {'name' : "student 4","marks":98},]

In [20]:
coll_assignment.insert_many(data3)

In [30]:
for i in coll_assignment.find():
    print(i)

{'_id': ObjectId('63f0cd3d2d08f9ba5eafdacb'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdacc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdacd'), 'name': 'Arun', 'address': 'Apple st 682'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdace'), 'name': 'Arguy', 'address': 'Mountain st 652'}
{'_id': ObjectId('63f0d1042d08f9ba5eafdacf'), 'student 1': 78}
{'_id': ObjectId('63f0d1042d08f9ba5eafdad0'), 'student 2': 65}
{'_id': ObjectId('63f0d1042d08f9ba5eafdad1'), 'student 3': 87}
{'_id': ObjectId('63f0d1042d08f9ba5eafdad2'), 'student 4': 90}
{'_id': ObjectId('63f0d2462d08f9ba5eafdad3'), 'name': 'student 1', 'marks': 78}
{'_id': ObjectId('63f0d2462d08f9ba5eafdad4'), 'name': 'student 2', 'marks': 57}
{'_id': ObjectId('63f0d2462d08f9ba5eafdad5'), 'name': 'student 3', 'marks': 90}
{'_id': ObjectId('63f0d2462d08f9ba5eafdad6'), 'name': 'student 4', 'marks': 98}

In [35]:
for i in coll_assignment.find({},{).sort("marks"):
    print(i)

{'_id': ObjectId('63f0cd3d2d08f9ba5eafdacb'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdacc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdacd'), 'name': 'Arun', 'address': 'Apple st 682'}
{'_id': ObjectId('63f0cd842d08f9ba5eafdace'), 'name': 'Arguy', 'address': 'Mountain st 652'}
{'_id': ObjectId('63f0d1042d08f9ba5eafdacf'), 'student 1': 78}
{'_id': ObjectId('63f0d1042d08f9ba5eafdad0'), 'student 2': 65}
{'_id': ObjectId('63f0d1042d08f9ba5eafdad1'), 'student 3': 87}
{'_id': ObjectId('63f0d1042d08f9ba5eafdad2'), 'student 4': 90}
{'_id': ObjectId('63f0d2462d08f9ba5eafdad4'), 'name': 'student 2', 'marks': 57}
{'_id': ObjectId('63f0d2462d08f9ba5eafdad3'), 'name': 'student 1', 'marks': 78}
{'_id': ObjectId('63f0d2462d08f9ba5eafdad5'), 'name': 'student 3', 'marks': 90}
{'_id': ObjectId('63f0d2462d08f9ba5eafdad6'), 'name': 'student 4', 'marks': 98}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

To delete one document, we use the delete_one() method.                                    
To delete more than one document, use the delete_many() method.                                                          
The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.